/* SCSS HEX */
$darker-pink: #F4A5AE;
$pink: #FFD9DD;
$blue: #055286 ;
$lighter-blue: #0989DE ;
$darker-blue: #1A486B ;



/* SCSS FONT SIZES */
$root-font-size: 16px;
    
$x-small: 0,5rem;
$small: 0,75rem;
$medium: 1rem;
$large: 1.25rem;
$x-large: 1.8rem; 
$xx-large: 3rem;

/* SCSS OTHER DIMENSIONS */
$border-radius: 0.6rem;
$shadow: 0px 0px 0.8rem 0px rgba(0, 0, 0, 0.2);
$deep-shadow: 0px 0px 0.8rem 0.2rem rgba(0, 0, 0, 0.4);
/* MEDIA QUERIES TRESHOLDS */
$mobile: 300px;
$tablet: 800px;
$desktop: 1200px;
$large-desktop: 1800px;